<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Swoop Test Using Page Object Model / Forms Test Using Selenide with Page Object Model" parallel="tests">
    <test name="Swoop Test Using PageFactory and Fluent API">
        <classes>
            <class name="PomWithFactorySwoopTest.SwoopTestWithFactory"/>
        </classes>
    </test>

    <test name="Swoop Test Without PageFactory">
        <classes>
            <class name="PomWithoutFactorySwoopTest.SwoopWithoutFactory"/>
        </classes>
    </test>

    <test name="Forms Test Using Selenide And Page Object Model">
        <classes>
            <class name="BasicPomTests.FormsTest"/>
        </classes>
    </test>
</suite>

